body {
    background-color: skyblue;
    width: 100%;
}
.main {
    width: 900px;
    height: 900px;
    margin: 100px auto;
    /* border: 5px solid black; */
    position: relative;
    
}

.example {
    width: 700px;
    margin-left: 100px;
}

.box-title {
    width: 500px;
    display: block;
    margin: 0 auto;
    animation-name: title;
    transition-property: all;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    margin-bottom: 200px;
}

@-webkit-keyframes title {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

.sil1 {
    width: 100px;
    float: left;
    margin-left: 100px;
    animation-name: flying;
    transition-property: all;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in;
}

@-webkit-keyframes flying {
    0%{
        margin-top: 30px;
        margin-left: 100px;
    }
    50%{
        margin-top: 0px;
        margin-left: 115px;
    }
    100%{
        margin-top: 30px;
        margin-left: 100px;
    }
}

.sil2 {
    width: 100px;
    float: left;
    margin-left: 100px;
    animation-name: flying;
    transition-property: all;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in;
}